@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.forien-easy-polls {
  &.poll-dialog {
    .window-content {
      table {
        background: none;
        border: none;

        thead {
          background: none;
          border: none;
        }
      }
    }
  }

  // Dedicated Styles for WFRP4e
  &.wfrp4e {
    .window-content {
      background: url(/ui/parchment.jpg);
      color: #222222;

      table {
        color: #222222;

        input {
          color: #222222;

          &::placeholder {
            color: #444444;
          }
        }
      }
    }
  }
}

#chat-log {
  .forien-poll {
    h2, div, span, label, button, .count-answered {
      font-family: 'Open Sans', Signika, sans-serif;
      font-weight: 100;
    }

    label {
      display: flex;
      place-items: center;
    }

    .answers {
      width: 100%;
      margin: 0 auto 5px;

      input {
        width: 20px;
        height: 20px;
        margin: 3px 5px;
      }

      .answer {
        position: relative;
        width: 100%;
        margin: 2px 0;

        .answer-data {
          top: 0;
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 22px;
          padding: 0 4px;

          * {
            mix-blend-mode: difference;
            color: #fff;
          }
        }

        .bar-container {
          width: 100%;
          position: relative;

          .bar {
            background: #222;
            height: 22px;
            overflow: visible;
          }
        }
      }
    }

    .poll-control-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;

      button {
        flex: 1 2 min-content;
        margin: 0;

        &.toggle-results {
          flex: 1 0 100%;        }
      }
    }

    .stats {
      margin-top: 8px;
      padding-top: 2px;
      font-size: 11px;
      font-style: italic;
      border-top: 1px dashed #00000066;
    }

    &.wfrp4e {
      button {
        margin: 0 !important;
        font-size: var(--font-size-14);
      }
    }
  }
}